body {
}
/* ------  DIREKTORIUM tabulka CSS formatD1------------------ */
.TableDirekt {
	width: 100%;
	/*margin: 10px auto 10px auto;*/
	border-collapse: collapse;
	background-color: #d3b695;
	color: black;
	font-weight: bold;
	Font-family: Verdana;
	font-size: small;
	/* small;	15px;*/
}
td, th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: center;
}
th {
	background: #993c00;
	/* spolocna hlavicka vsetkych období; #b33c00; #673e37; */
	color: white;
	border-color: white;
}
.freeline {
	height: 30px;
	/* display: none;*/
}
.obdobie {
	height: 60px;
}
.advent-step tr:nth-child(odd) td, .advent-step tr:nth-child(odd) th {
	background-color: #e9daca; /* #ffb399;*/	
	color: #992600;
}
.vianoce-step tr:nth-child(odd) td, .vianoce-step tr:nth-child(odd) th {
	background-color: #e9daca;
	color: #992600;	
}
.post-step tr:nth-child(odd) td, .post-step tr:nth-child(odd) th {
	background-color: #e9daca;
	color: #992600;
}
.velkanoc-step tr:nth-child(odd) td, .velkanoc-step tr:nth-child(odd) th {
	background-color: #e9daca;
	color: #992600;
}
.cezrok-step tr:nth-child(odd) td, .cezrok-step tr:nth-child(odd) th {
	background-color: #e9daca;
	color: #992600;
}
.sviatkycezrok-step tr:nth-child(odd) td, .sviatkycezrok-step tr:nth-child(odd) th {
	background-color: #e9daca;	
	color: #992600;
}