@font-face {
    font-family: MyFont;
    src: url(file:///android_asset/fonts/Insula.ttf)
}
body {
    font-family: MyFont;
	line-height: 140%;
}


.PRPrayer
{
	font-family: MyFont;
}

.PRCaption
{
	font-family: MyFont;
}

.PRStartPrayerDecoration
{
	margin-Top: 15px;
	margin-bottom: 15px;
}