@font-face {
    font-family: MyFont;
    src: url(file:///android_asset/fonts/LuckyTypewriter.ttf)
}
body {
    font-family: MyFont;
}


.PRPrayer
{
	font-family: MyFont;
}

.PRCaption
{
	font-family: MyFont;
}
