@font-face {
    font-family: MyFont;
    src: url(file:///android_asset/fonts/AkaDora.ttf)
}
body {
    font-family: MyFont;
	font-size: 130%;
}


.PRPrayer
{
	font-family: MyFont;
}

.PRCaption
{
	font-family: MyFont;
}
